// Media mixins
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin button-primary {
  background-color: $base-white;
  color: $base-black;
  @include white-border;
}
@mixin button-secondary {
  background-color: transparent;
  color: $base-white;
  @include white-border;
}
@mixin white-border {
  border: 8px solid $base-white;
}

// Variables
$base-black: #191b1e;
$base-white: #d9dadb;

// General element styles
* {
  margin: 0;
  padding: 0;
}
body {
  color: $base-white;
  background: $base-black;
  background: center / cover no-repeat
    url("img/dark-paper-texture-high-res.jpg");
  font-display: swap;
}

h1,
h2,
h3 {
  font-family: "Roboto", Sans-Serif;
  margin: 1vh 0;
}
h1 {
  font-size: 4.8vh;
}
h2 {
  font-size: 3.6vh;
}
h3 {
  font-size: 3vh;
}
hr {
  margin-bottom: 0.75vh;
  border: 2px solid #d9dadb;
}
p {
  font-family: "Droid Serif", Serif;
  line-height: 3vh;
  font-size: 2.4vh;
  margin: 2vh 0;
}
a {
  color: inherit;
}

// Buttons
button {
  font-size: 2vh;
  font-family: "Roboto", Sans-Serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1vh 1.2vh;
  border-radius: 12px;

  &.button-primary {
    @include button-primary;
  }
  &.button-secondary {
    @include button-secondary;
  }
}

// Social icons
.social-container {
  margin-top: 2vh;
  text-align: right;
  i {
    margin: 1vh;
    @include for-tablet-portrait-up {
      &:last-of-type {
        margin-right: 0;
      }
    }
    &::before {
      font-size: 4vh;
      vertical-align: middle;
    }
  }
  .ks-logo {
    display: none;
    max-height: 8vh;
    margin-left: 1vh;
    vertical-align: middle;
  }
}

// Home styles
#main {
  margin: 4vh;
  @include for-phone-only {
    margin: 0;
  }
  // Full grid container
  .home-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4vh;
    @include for-phone-only {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr 1fr 1fr;
      gap: 0;
    }
    // Grid columns
    .home-block {
      height: 100%;
      position: relative;
      overflow: hidden;
      // Main homepage block
      &.feat-block {
        background-image: linear-gradient(
            to bottom,
            rgba(26, 27, 29, 1),
            rgba(26, 27, 29, 0.15)
          ),
          url("img/marc-fanelli-isla-xo4ValczbuA-unsplash.jpg");
        background-position: center bottom;
        grid-row-start: 1;
        grid-row-end: 4;
        @include for-phone-only {
          grid-row-end: 2;
        }
        // Email icon
        i {
          position: absolute;
          top: 4vh;
          right: 4vh;
          &::before {
            font-size: 4vh;
          }
        }
        .block-blurb {
          padding: 4vh 4vh 0 4vh;
          @include for-phone-only {
            padding-top: 8vh;
          }
        }
      }
      // All block blurbs (main + side)
      .block-blurb {
        padding: 4vh 4vh 2vh 4vh;
      }
      // Covers for side blocks
      .block-cover {
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: opacity 1s;
        h2 {
          position: absolute;
          top: 44%;
          left: 4vh;
          margin: 0;
          transition: transform 2s, opacity 2s;
          @include for-phone-only {
            top: 82%;
          }
        }
        &.recording-cover {
          background-image: linear-gradient(
              to right,
              rgba(26, 27, 29, 0.95),
              rgba(0, 0, 0, 0)
            ),
            url("img/jonathan-velasquez-c1ZN57GfDB0-unsplash.jpg");
        }
        &.rehearsal-cover {
          background-image: linear-gradient(
              to right,
              rgba(26, 27, 29, 0.95),
              rgba(0, 0, 0, 0)
            ),
            url("img/karim-boubker-inCiuLNuwdw-unsplash.jpg");
          background-position: center bottom;
        }
        &.live-cover {
          background-image: linear-gradient(
              to right,
              rgba(26, 27, 29, 0.95),
              rgba(0, 0, 0, 0)
            ),
            url("img/yassine-khalfalli-I3ZzOkiAbTI-unsplash.jpg");
        }
        &:hover {
          opacity: 0.3;
          transition: opacity 1.2s;
          h2 {
            transform: translate(0, -360px);
            opacity: 0;
            transition: transform 1s, opacity 0.5s;
          }
        }
      }
    }
  }
}
// Form
#form {
  margin: 6vh 4vh;
  form {
    padding: 2vh 0;
    input,
    label {
      font-family: "Roboto", Sans-Serif;
      font-size: 2.4vh;
      font-weight: 700;
      margin-bottom: 2vh;
      border: 0;

      vertical-align: top;
      background-color: transparent;
      color: $base-white;
      @include for-tablet-portrait-up {
        margin-right: 4vh;
      }
      &.button-secondary {
        @include button-secondary;
        border-radius: 12px;
        text-transform: uppercase;
      }
    }
    input {
      border-bottom: 2px solid $base-white;
      padding: 1vh;
    }
    @include for-phone-only {
      input[type="text"],
      input[type="tel"] {
        width: 100%;
      }
      .button-secondary {
        width: 100%;
      }
      .services {
        margin: 2vh 0;
      }
    }

    label {
      vertical-align: bottom;
    }
  }
  #thanks-message {
    display: none;
  }
  .checkbox {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid $base-white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
      inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    border-radius: 3px;
    display: inline-block;
    position: relative;
  }
  .checkbox:active,
  .checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
      inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  .checkbox:checked {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
      inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
      inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
  }
  .checkbox:checked:after {
    content: "\2714";
    font-size: 4vh;
    position: absolute;
    top: -28px;
    left: 3px;
    color: $base-white;
  }
  .services {
    display: inline-block;
  }
}

.flaticon-telegram-logo {
  // transition: transform 2s;
  &:hover {
    // transform: rotate(-270deg);
    animation: bounce 1.2s 1 ease-out;
  }
}
@keyframes bounce {
  // 50% {
  //   transform: translateY(-10px);
  // }
  10% {
    transform: translateY(-10px);
  }
  20% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-8px);
  }
  40% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  60% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(-4px);
  }
  80% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-2px);
  }
}
/* background to white 1f2225 3f4144 616366 86888a adaeaf d5d6d6 ffffff */
/* background to black */
