* {
  margin: 0;
  padding: 0;
}

body {
  color: #d9dadb;
  background: #191b1e;
  background: center/cover no-repeat url("img/dark-paper-texture-high-res.jpg");
}

button {
  font-size: 2vh;
  font-family: "Roboto", Sans-Serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1vh 1.2vh;
  border-radius: 12px;
}

button.button-primary {
  background-color: #d9dadb;
  color: #191b1e;
  border: 8px solid #d9dadb;
}

button.button-secondary {
  background-color: transparent;
  color: #d9dadb;
  border: 8px solid #d9dadb;
}

h1,
h2,
h3 {
  font-family: "Roboto", Sans-Serif;
  margin: 1vh 0;
}

h1 {
  font-size: 4.8vh;
}

h2 {
  font-size: 3.6vh;
}

h3 {
  font-size: 3vh;
}

hr {
  margin-bottom: 0.75vh;
  border: 2px solid #d9dadb;
}

p {
  font-family: "Droid Serif", Serif;
  line-height: 3vh;
  font-size: 2.4vh;
  margin: 2vh 0;
}

.social-container {
  margin-top: 2vh;
  text-align: right;
}

.social-container i {
  margin: 1vh;
}

@media (min-width: 600px) {
  .social-container i:last-of-type {
    margin-right: 0;
  }
}

.social-container i::before {
  font-size: 4vh;
  vertical-align: middle;
}

.social-container .ks-logo {
  display: none;
  max-height: 8vh;
  margin-left: 1vh;
  vertical-align: middle;
}

#main {
  margin: 4vh;
}

@media (max-width: 599px) {
  #main {
    margin: 0;
  }
}

#main .home-container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 4vh;
}

@media (max-width: 599px) {
  #main .home-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr;
    gap: 0;
  }
}

#main .home-container .home-block {
  height: 100%;
  position: relative;
  overflow: hidden;
}

#main .home-container .home-block.feat-block {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1a1b1d), to(rgba(26, 27, 29, 0.15))), url("img/marc-fanelli-isla-xo4ValczbuA-unsplash.jpg");
  background-image: linear-gradient(to bottom, #1a1b1d, rgba(26, 27, 29, 0.15)), url("img/marc-fanelli-isla-xo4ValczbuA-unsplash.jpg");
  background-position: center bottom;
}

#main .home-container .home-block.feat-block i {
  position: absolute;
  top: 2vh;
  right: 2vh;
}

#main .home-container .home-block.feat-block i::before {
  font-size: 4vh;
}

#main .home-container .home-block.feat-block .block-blurb {
  padding: 4vh 4vh 0 4vh;
}

@media (max-width: 599px) {
  #main .home-container .home-block.feat-block .block-blurb {
    padding-top: 8vh;
  }
}

#main .home-container .home-block .block-blurb {
  padding: 4vh 4vh 2vh 4vh;
}

#main .home-container .home-block .block-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#main .home-container .home-block .block-cover h2 {
  position: absolute;
  top: 44%;
  left: 4vh;
  margin: 0;
  -webkit-transition: opacity 2s, -webkit-transform 2s;
  transition: opacity 2s, -webkit-transform 2s;
  transition: transform 2s, opacity 2s;
  transition: transform 2s, opacity 2s, -webkit-transform 2s;
}

@media (max-width: 599px) {
  #main .home-container .home-block .block-cover h2 {
    top: 82%;
  }
}

#main .home-container .home-block .block-cover.recording-cover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(26, 27, 29, 0.95)), to(rgba(0, 0, 0, 0))), url("img/jonathan-velasquez-c1ZN57GfDB0-unsplash.jpg");
  background-image: linear-gradient(to right, rgba(26, 27, 29, 0.95), rgba(0, 0, 0, 0)), url("img/jonathan-velasquez-c1ZN57GfDB0-unsplash.jpg");
}

#main .home-container .home-block .block-cover.rehearsal-cover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(26, 27, 29, 0.95)), to(rgba(0, 0, 0, 0))), url("img/karim-boubker-inCiuLNuwdw-unsplash.jpg");
  background-image: linear-gradient(to right, rgba(26, 27, 29, 0.95), rgba(0, 0, 0, 0)), url("img/karim-boubker-inCiuLNuwdw-unsplash.jpg");
  background-position: center bottom;
}

#main .home-container .home-block .block-cover.live-cover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(26, 27, 29, 0.95)), to(rgba(0, 0, 0, 0))), url("img/yassine-khalfalli-I3ZzOkiAbTI-unsplash.jpg");
  background-image: linear-gradient(to right, rgba(26, 27, 29, 0.95), rgba(0, 0, 0, 0)), url("img/yassine-khalfalli-I3ZzOkiAbTI-unsplash.jpg");
}

#main .home-container .home-block .block-cover:hover {
  opacity: 0.3;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
}

#main .home-container .home-block .block-cover:hover h2 {
  -webkit-transform: translate(0, -360px);
          transform: translate(0, -360px);
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 1s;
  transition: opacity 0.5s, -webkit-transform 1s;
  transition: transform 1s, opacity 0.5s;
  transition: transform 1s, opacity 0.5s, -webkit-transform 1s;
}

#main .home-container .home-block.feat-block {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

@media (max-width: 599px) {
  #main .home-container .home-block.feat-block {
    grid-row-end: 2;
  }
}

#form {
  margin: 4vh;
}

#form form {
  padding: 2vh 0;
}

#form form input,
#form form label {
  font-family: "Roboto", Sans-Serif;
  font-size: 2.4vh;
  font-weight: 700;
  margin-right: 4vh;
  margin-bottom: 2vh;
  border: 0;
  padding: 1vh;
  vertical-align: top;
  background-color: transparent;
  color: #d9dadb;
}

#form form input.button-secondary,
#form form label.button-secondary {
  background-color: transparent;
  color: #d9dadb;
  border: 8px solid #d9dadb;
  border-radius: 12px;
  text-transform: uppercase;
}

#form form input {
  border-bottom: 2px solid #d9dadb;
}

#form form input {
  border-bottom: 2px solid #d9dadb;
}

#form form label {
  padding-top: 0;
}

#form #thanks-message {
  display: none;
}

#form .checkbox {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: 2px solid #d9dadb;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

#form .checkbox:active,
#form .checkbox:checked:active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

#form .checkbox:checked {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

#form .checkbox:checked:after {
  content: "\2714";
  font-size: 4vh;
  position: absolute;
  top: -28px;
  left: 3px;
  color: #d9dadb;
}

/* background to white 1f2225 3f4144 616366 86888a adaeaf d5d6d6 ffffff */
/* background to black */
/*# sourceMappingURL=main.css.map */